nav {
    box-shadow: 0 0px 10px grey;
    display: flex;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 15;
    /* background: radial-gradient(circle at 50% 50%, rgb(108, 255, 108), transparent 40%), #fff; */
    background: linear-gradient(to left, rgb(226, 253, 255) 0%, rgb(208, 251, 254) 40%, white 100%);
}

nav a {
    display: inline-block;
    position: relative;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(47, 47, 179);
    text-shadow: 0 2px 2px rgba(0, 0, 255, 0.2);
    translate: 0 0;
    transition: all 0.1s ease;
}

nav a:hover {
    translate: 0 -2px;
    text-shadow: 0 2px 4px rgba(0, 0, 255, 0.5);
}

#nav-offset {
    height: 50px;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav h1 {
    position: relative;
    left: 10px;
    font-size: 25px;
    margin-left: 0;
    margin-right: 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

#icon-img {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}